# Abaikan SEMUA isi public/build
/public/build/*

# Tapi JANGAN abaikan file-file ini (pengecualian)
!public/build/*.css
!public/build/*.js
!public/build/*.png
!public/build/*.jpg
!public/build/*.svg
